page-profile {
    ion-avatar,
    h2,
    p {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: transparent;
    }
    ion-avatar img {
        width: 100px !important;
        height: 100px !important;
    }
    .main-content {
        padding: 20px;
    }
    .bg {
        background: #d8dfea;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tabs {
        background-color: black;
        opacity: 0.7;
    }
}